
datasets/go_emotions/dataset_dict.json
datasets/go_emotions/test/data-00000-of-00001.arrow
datasets/go_emotions/test/dataset_info.json
datasets/go_emotions/test/state.json
datasets/go_emotions/train/data-00000-of-00001.arrow
datasets/go_emotions/train/dataset_info.json
datasets/go_emotions/train/state.json
datasets/go_emotions/validation/data-00000-of-00001.arrow
datasets/go_emotions/validation/dataset_info.json
datasets/go_emotions/validation/state.json
go_emotions_test.csv
go_emotions_train.csv
go_emotions_validation.csv
results/checkpoint-1000/vocab.json
results/checkpoint-1000/training_args.bin
results/checkpoint-1000/trainer_state.json
results/checkpoint-1000/tokenizer_config.json
results/checkpoint-1000/tokenizer.json
results/checkpoint-1000/special_tokens_map.json
results/checkpoint-1000/scheduler.pt
results/checkpoint-1000/rng_state.pth
results/checkpoint-1000/optimizer.pt
results/checkpoint-1000/model.safetensors
results/checkpoint-1000/merges.txt
results/checkpoint-1000/generation_config.json
results/checkpoint-1000/config.json
processed_datasets/dailydialog_validation_prompted.csv
processed_datasets/dailydialog_train_prompted.csv
processed_datasets/dailydialog_test_prompted.csv
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/USE_POLICY.md
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/tokenizer_config.json
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/tokenizer.json
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/special_tokens_map.json
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/README.md
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/original/tokenizer.model
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/original/params.json
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/original/consolidated.00.pth
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/model.safetensors
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/LICENSE.txt
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/generation_config.json
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/config.json
models/models--meta-llama--Llama-3.2-1B/snapshots/4e20de362430cd3b72f300e6b0f18e50e7166e08/.gitattributes
models/models--meta-llama--Llama-3.2-1B/refs/main
